[Unit]
Description=service to run the midiosc app
Documentation=https://github.com/donundeen/midiosc
After=network.target

[Service]
Type=simple
PIDFile=/var/run/midiosc.pid
Restart=on-failure
RestartSec=4
ExecStart=/home/pi/midiosc/system/runmidiosc.sh

[Install]
WantedBy=default.target