[Unit]
Description=service to run the midiosc app
Documentation=https://github.com/donundeen/miditoosc
After=network.target

[Service]
Type=simple
PIDFile=/var/run/miditoosc.pid
Restart=on-failure
RestartSec=4
ExecStart=/home/pi/midiosc/system/runmiditoosc.sh

[Install]
WantedBy=default.target